.footer {
    padding-top: 40px;
    background-color: rgb(212, 212, 212);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 450px;
}

.table {
    margin: 20px;
}

.table-title {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    padding-left: 40px;

}

.table-cell {
    padding: 10px;
    padding-left: 40px;
}

.table-cell-paragraph {
    font-size: 20px;
    font-family: sans-serif;
    text-align: left;
}

.table-cell-paragraph:hover {
    color: blue;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}

.footer-logo-img {
    width: 110px;
    height: 54px;
}

.footer-logo-txt {
    margin-left: -25px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}

.footer-paragraph {
    font-size: 20px;
    font-family: sans-serif;
}

.footer-line {
    margin: auto;
    width: 80%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 160px;
    margin-right: 160px;
}

.footer-container-left {
    margin: 30px;
}

.footer-container-right {
    margin: 30px;
}

.footer-text {
    font-size: 18px;
    font-family: sans-serif; 
}