.footer {
    background-color: rgb(255, 196, 0);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section {
    margin: 20px;
    max-width: 450px;
}

.table {
    margin: 20px;
}

.table-title {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

.table-cell {
    font-size: 20px;
    font-family: sans-serif;
    text-align: left;
    padding: 10px;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: rgb(85, 255, 0);
}

.footer-logo-img {
    width: 110px;
    height: 54px;
    background-color: pink;
}

.footer-logo-txt {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: aqua;
}

.footer-paragraph {
    font-size: 20px;
    font-family: sans-serif;
}

.footer-line {
    margin: auto;
    width: 80%;
}

.footer-container {
    margin: 20px;
}

.footer-text {
    font-size: 20px;
    font-family: sans-serif; 
}