.content-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

.content-carousel-title {
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 15px;
}

.content-carousel-paragraph {
    font-size: 25px;
    font-family: sans-serif;
}

.content-carousel-slide {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: rgb(172, 191, 242);
    border-radius: 20px;
    margin: 10px;
}

.content-carousel-button {
    margin: 20px;
    padding: 15px;
    background-color: rgb(36, 127, 207);
    border-radius: 25px;
    border-width: 0px;
}

.content-carousel-button:hover {
    background-color: rgb(24, 76, 122);
    transition: 300ms;
}

.content-carousel-button-text {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}

.carousel-slide-img {
    width: 683px;
    height: 384px;
    border-radius: 20px;
}
