.content-download-text {
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.content-download {
    display: flex;
    flex-direction: row;
    background-color: rgb(21, 118, 255);
    padding: 40px;
    padding-left: 200px;
    padding-right: 200px;
}

.download-text-title {
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;   
}

.download-text-paragraph {
    font-size: 25px;
    font-family: sans-serif;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}

.debian-gnome-img {
    margin: 30px;
    width: 576px;
    height: 324px;
    border-radius: 10px;
}

.content-download-button:hover {
    background-color: rgb(147, 74, 21);
    transition: 300ms;
}

.content-download-button {
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    background-color: chocolate;
    border-width: 0px;
}

.content-download-button-text {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

.content-download-button-icon {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.content-download-link {
    display: flex;
    align-self: center;
    margin: 10px;
}

.content-download-link-text {
    font-size: 18px;
    font-family: sans-serif;
}

.content-download-link-text:hover {
    color: aliceblue;
}

.content-download-area {
    display: inline-flex;
    flex-direction: column;
}
